.DS_Store
*.mp4
*.mov
*.zip
*.jpg
*.png
*.csv
Movie Recordings/
Manual Data Collection/Data Folders (MP4 and JSON)/
Manual Data Collection/Unused
Manual Data Collection/Unannotated CSVs
Manual Data Collection/Annotated CSVs
rancho/
133_test.json
Maya/
Papers/
Google Cloud Credentials/
Old Stuff/
*.pkl
Misc/
S3_Bucket_Uploads/ramona_1_1639.mp4
S3_Bucket_Uploads/segment_1640_1963.mp4